# Ignore terraform state files
terraform/**/*.tfstate
terraform/**/*.tfstate.backup

# Ignore terraform hidden folder
terraform/**/.terraform/
terraform/**/.terraform.lock.hcl
terraform/secrets.tfvars
